.NavLink:hover {
  text-decoration: underline;
}
.card-img-overlay {
  transition: transform 0.3s ease;
}

.card-img-overlay:hover {
  transform: scale(1.1);
}
.scroll-up {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}